<br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin"> 
      <span style="font-weight: 700">Tasuvuse suhtarvud</span>
    </div>
  </div>
<br><br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin">
    Ettevõtte elujõulisuse hindamisel on oluline, kui tasuv ehk rentaabel ehk kasumlik on ettevõtte tegevus. Mida tasuvam on ettevõtte tegevus, seda suuremaks võib lugeda ettevõtte elujõulisust, sest seda parema turuniši on ettevõte tõenäoliselt avastanud ja seda kindlam on tema positsioon klientide juures. Enamlevinud on neli tasuvuse suhtarvu, mida on ka käesolevas töös kasutatud: käibe ärirentaablus, käibe puhasrentaablus, vara puhasrentaablus ja omakapitali puhasrentaablus.
</div>
</div>
<br><br>
<div class="tekstike2 textmargin"> 
  <div> <span style="font-weight: 700">Käibe ärirentaablus </span> (<em>operating margin</em>) näitab, millise osa moodustab ettevõtte ärikasum müügituludest. Seda näitajat vaadatakse ka kui kasumi teenimist põhitegevustest. Eeldatakse, et müügitulu tuleb üksnes põhitegevustest (kuid varieeruvust loob see, et põhitegevused võivad muutuda, koosneda mitmest alategevusest, ettevõttel võib olla mitu põhisuunda jms). Käibe ärirentaablus arvutatakse alljärgneva valemi abil:
    
  </div>
</div>
<br>
<div class="eq-c">
  Käibe ärirentaablus =
   <div class="fraction">
   <span class="fup">Ärikasum</span>
   <span class="bar">/</span>
   <span class="fdn">Müügitulu</span>
   </div>
</div><br>

<div class="tekstike2 textmargin"> 
<div class="rowmargin">
  Ärikasum ja müügitulu leitakse kasumiaruandest aasta lõpu seisuga. Näitaja optimaalne suurus sõltub väga suurel määral äritegevuse olemusest, tegevussektorist jms, kuid mida suurem näitaja on, seda parem. Aga kui näitaja on suurem kui 1, siis mõjutavad ärikasumit sissetulekud, mis ei kajastu müügitulus.

  
</div>
</div>
<br><br>



<div class="tekstike2 textmargin"> 
  <div> <span style="font-weight: 700">Käibe puhasrentaablus </span> ehk puhaskasumimarginaal (<em>profit margin, net margin, net profit margin</em>) näitab, millise osa moodustab ettevõtte puhaskasum müügitulust. Suhtarv kajastab, kui palju kasumit toodetakse käibeühiku kohta. Sellest saab järeldada, kas ettevõte on turul hinnakonkurentsis ja kas kulud on optimaalses suuruses. Erinevate majandussektorite ettevõtete puhasrentaablust on omavahel raske võrrelda, kuna nende kulustruktuur on võib olla väga erinev. Käibe puhasrentaablus arvutatakse alljärgneva valemi abil:
   
  </div>
</div>
<br>
<div class="eq-c">
  Käibe puhasrentaablus =
   <div class="fraction">
   <span class="fup">Puhaskasum</span>
   <span class="bar">/</span>
   <span class="fdn">Müügitulu</span>
   </div>
</div>
<br>
<div class="tekstike2 textmargin"> 
<div class="rowmargin">
  Puhaskasum ja müügitulu võetakse kasumiaruandest aasta lõpu seisuga. Sarnaselt käibe ärirentaablusega sõltub näitaja optimaalne suurus väga suurel määral äritegevuse olemusest, tegevussektorist jms, kuid mida suurem on näitaja, seda parem. Aga kui näitaja on suurem kui 1, siis mõjutavad puhaskasumit sissetulekud, mis ei kajastu müügitulus.

  
</div>
</div>
<br><br>
<div class="tekstike2 textmargin"> 
  <div> <span style="font-weight: 700">Varade ehk kogukapitali puhasrentaablus </span>(<em>return on assets — ROA</em>) näitab, kui efektiivselt kasutab ettevõte oma varasid puhaskasumi teenimiseks. Näitaja annab aimu sellest, kui palju toodab varasse paigutatud raha kasumit. Näitajat nimetatakse ka DuPonti valemiks. Varade puhasrentaablus arvutatakse alljärgneva valemi abil:
   
  </div>
</div>
<br>
<div class="eq-c">
  Varade puhasrentablus (ROA) = Puhaskasumimarginal × Varade käibekordaja =

  
   <div class="fraction">
   <span class="fup">Puhaskasum</span>
   <span class="bar">/</span>
   <span class="fdn">Müügitulu</span>
   </div>
   x
   <div class="fraction">
    <span class="fup">Müügitulu</span>
    <span class="bar">/</span>
    <span class="fdn">Varad</span>
    </div>
    =
  
    
<div class="fraction">
      <span class="fup">Puhaskasum</span>
      <span class="bar">/</span>
      <span class="fdn">Varad</span>
</div>
  
</div>


<br>
  <div class="tekstike2 textmargin"> 
    <div class="rowmargin">
      Nagu ülaltoodust näha, on valem ROA leidmiseks mitmeastmeline ja arvutust saab seega teostada mitmel viisil. Enamasti arvutatakse näitaja puhaskasumi ja varade omavahelise jagatisena. Vajalikud sisendnäitajad võetakse bilansist ja kasumiaruandest aasta lõpu seisuga. Näitaja võimaldab analüüsida ühelt poolt ettevõtte kasumlikkust ja teiselt varade kasutamise efektiivsust.
    </div>
  </div>
  <br><br>
  <div class="tekstike2 textmargin"> 
    <div> <span style="font-weight: 700">Omakapitali tootlus ehk puhasrentaablus  </span>(<em>return on equity — ROE</em>) näitab, kui efektiivselt kasutatakse omakapitali puhaskasumi teenimiseks. Ettevõtte omanikud on investeerinud omakapitali ning selle näitaja abil on võimalik saada ülevaade sellest, kui efektiivselt need vahendid ennast taastoodavad. Omakapitali puhasrentaablus arvutatakse alljärgneva valemi abil:
      
      
    </div>
  </div>
  <br>
  <div class="eq-c">
    Omakapitali puhasrentaablus (ROE) = Puhaskasumimarginaal × Varade käibekordaja × Finanstvõimendus =
    </div><br>
    <div class="eq-c"> 
      = ROA x 
      <div class="fraction">
      <span class="fup">Varad</span>
      <span class="bar">/</span>
      <span class="fdn">Omakapital</span>
      </div>
      
      =
            
   <div class="fraction">
         <span class="fup">Puhaskasum</span>
         <span class="bar">/</span>
         <span class="fdn">Varad</span>
   </div>
     </div><br>
     <div class="tekstike2 textmargin"> 
      <div class="rowmargin">
        Omakapitali puhasrentaabluse arvutamiseks vajalikud andmed võetakse ettevõtte kasumiaruandest ja bilansist aasta lõpu seisuga. Enamasti kasutatakse näitaja arvutamisel puhaskasumi ja omakapitali jagatist. Nagu ka ROA puhul, on ROE puhul tegemist DuPonti analüüsiga. See analüüs võimaldab eristada kolme põhitüüpi ettevõtteid:
      </div>
    </div>
    <div class="tekstike2 textmargin"> 
      <div class="rowmargin"> 
      
      <ul>
      <li>ettevõtted, kus kasumimarginaal on kõrge;</li>
      <li>ettevõtted, kus on suur käive;</li>
      <li>ettevõtted, kus on suur finantsvõimendus.</li>
      </ul>
      </div>
    </div>
    <br>