
<!--label-->    
<br>
<br>
<br>
<p class="teekst">
Klikates alltoodud (sinisel) alajaotusel näed täiendavat infot.
</p>
<br>  
<div class="flashcard" [class.flipped]="flipped" (click)="toggle()">

    <div>
      <!--lahteinfo-component></lahteinfo-component-->
      <lahteinfo-component></lahteinfo-component>   
      
  </div>
    <div class ="back" >
    <!--div class="back"-->
    <lahteinfoback-component></lahteinfoback-component>
    <!--div class="back">N   "btn  btn-danger" ow showing the back size {{kirjuta()}}</div-->
    </div>
</div>
<!--/label-->