<br>
<div class="tekstike2 textmargin"> 
<div class="rowmargin2">
Ettevõtluse elujõulisuse indeksi jaoks on defineeritud ettevõtete ja majandusüksuste tegevussektorid. Sektorid on moodustatud tegevusalade (EMTAK) kombineerimisel. Aluseks on sarnane põhitegevusala, mis eelduslikult tähendab sarnasust tehingute kajastuses bilanssides/kasumiaruannetes; sarnasust tehingute loogikas; sarnast majandusmudelit. Mudelite treenimiseks kasutatavate sisendandmete kokkupanekul kontrolliti iga sektori kohta, et sinna kuuluks piisav arv ettevõtteid, et masinõppemudel saaks toimida ja vajaliku tulemi tagada.
</div>
</div>
<br>