.nupp button {
	/**margin-left: 20px;**/
	display: block;
	margin-left: 40px;
  margin-top: 30px;
  line-height: 24px;	
  background: #005AA3;
	color: white;
	font-size: 16px;
	border-radius: 20px;
	width: 201px;
	min-height: 43px;
  /*padding-left: 22px;*/
	align-content: center;
	
  

	&:hover {
		color: rgb(255, 128, 0);
		font-size: 16px;
		background-color: rgb(0, 66, 119);
	}

  .label {
    white-space: nowrap;
    overflow: hidden;
		color: red;
  }


}  