.alert,
.alert * {
  box-sizing: border-box;
}
.alert {
  background: var(--alerts-background-info, #eaf6ff);
  border-radius: var(--alerts-sizing-corner-radius, 4px);
  border-style: solid;
  border-color: var(--colors-status-info-border, #337bb5);
  border-width: 1px;
  padding: var(--alerts-sizing-padding-y, 16px)
    var(--alerts-sizing-padding-x, 16px) var(--alerts-sizing-padding-y, 16px)
    var(--alerts-sizing-padding-x, 16px);
  display: flex;
  flex-direction: column;
  gap: var(--alerts-sizing-inner-spacing, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: -80px;
}
.header {
  padding: 0px 24px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: var(--alerts-sizing-inner-spacing, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.title {
  color: var(--colors-status-info-text, #005aa3);
  text-align: left;
  font-family: var(
    --headings-large-h5-font-family,
    "Roboto-Regular",
    sans-serif
  );
  margin-left: 3px;
  font-size: var(--headings-large-h5-font-size, 20px);
  line-height: var(--headings-large-h5-line-height, 120%);
  font-weight: var(--headings-large-h5-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content {
  padding: 0px 16px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: var(--alerts-sizing-inner-spacing, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.body {
  color: var(--alerts-text-info, #005aa3);
  text-align: left;
  margin-left: 3px;
  font-family: var(--body-small-font-family, "Roboto-Regular", sans-serif);
  font-size: 14px;
  line-height: var(--body-small-line-height, 171%);
  font-weight: var(--body-small-font-weight, 400);
  position: relative;
  align-self: stretch;
}

#tabel {

 color: #005aa3;

}

#tabel td {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #005aa3;;
  font-size: 14px; 
  
}