

<div class="alert">
<div class="header">
  <!--img class="icon" src="icon0.svg" /-->
  <div class="title">{{title}}</div>
</div>
<div class="content">
  <!--div class="body">{{content1b}}</div-->
  <!--div class="body">{{content2}}</div-->

  <table id="tabel">
  
  <tr *ngFor="let emid1 of oigeText">
  <td>{{content1b}}</td>
  <td>{{emid1.NIMI_5}}</td>
  </tr>
  
  </table>

  <table id="tabel">
  
  <tr *ngFor="let sekid1 of oigeSektor">
  <td>{{content2}}</td>
  <td>{{sekid1.sektorName}}</td>
  </tr>
  
  </table>
  
  
  
  <div class="body">{{content3b}}</div>

  <table id="tabel">
  
  <tr *ngFor="let suurid1 of oigeSuurus">
  <td>{{content4}}</td>
  <td>{{suurid1.grupiNimi}}</td>
  </tr>
  
  </table>

  <table id="tabel">
  
  <tr *ngFor="let countid1 of oigeMaakond">
  <td>{{content5}}</td>
  <td>{{countid1.maakonnaNimi}}</td>
  </tr>
  
  </table>


  <!--div class="body">{{content4}}</div-->
  <!--div class="body">{{content5}}</div-->
  <div class="body">{{content6b}}</div>
</div>
</div> 
