<p class="tekstike">
Metoodika ülevaade
</p>

<!--p class="tekstikev">
  Mis infot me hetkeolukorra kohta teame
  </p-->

  <p class="tekstike2">
    Käesoleva rakenduse tulemuste mõistmiseks on oluline vajadusel süveneda rohkem detailidesse, kuidas on jõutud sellistele järeldustele, nagu need selle süsteemi poolt on siinkohal esitatud. Ülaltoodud vastused küsimustele aitavad mõista süsteemi töö olemust, kuid põhjalikumalt on alusloogika lahti kirjeldatud metoodika ülevaates.  Ülevaade on vaadatav alltoodud nupu kaudu sisenedes, seal on võimalik lugeda põhjalikku materjali, seda endale alla laadida ja vajadusel välja trükkida.

  </p>