<div class="dashboard">
<div class="dashboard-type">
  <div class="dashboard-row">
    <div class="dashboard-row-item">
      <div
        class="mitu-ettev-tetest-on-sinu-maakonnas-sinu-ettev-ttest-paremas-seisus"
      >
        Sinu ettevõtte tööjõu tootlikkus: 
      </div>
    </div>
    <div class="dashboard-row-item2">
      <div class="label">2023</div>
      <div class="content">{{tjt}}</div>
    </div>
  </div>
  
  
  
</div>
<!--/div-->
<!--br>
<iframe width="100%" height="500" src="https://interstat.info/Elujoud/Disain/Florish/florish3.html"></iframe-->

</div>

<!--iframe [src]="urlSafe" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe-->