<p class="tekstike">
  Efektiivsus
  </p>

  <!--p class="tekstikev">
    Mis infot me hetkeolukorra kohta teame
    </p-->

    <p class="tekstike2">
      Mul on praegu siin lihtsalt kast, tegelikult tuleb avatav, see on vaja süsteemis ära programmeerida, ma tean. 
      Tekstitäiteks aga kaks küsimust: <br>
      1. Ülemises "valges aknas" kasutame ka alapealkirja, miks me siin ei kasuta. Stiili ühtluse mõttes võiksime ju küsida, et a la "Mida teame sinu ettevõtte efektiivsuse hetkeolukorra kohta"... ja siis minna edasi üldtekstile. <br>
      2. Figmat vaadates on praegu Efektiivsus, Maksevõime, Finantsvõimendus jne. nii Hetkeolukorra kui ka Prognoosi tabi all.  Kas see on nii mõeldud?  Põhimõtteliselt oleks suhteliselt inforohke anda kõigi kategooriate lõikes nii hetkeseis kui ka prognoos.  Prognoos läheks ehk natuke keerukamaks selliselt tagada, kuid miks mitte.  Lihtsalt sellepärast küsin, et olen täheldanud, et proovime teha minimaalset asja, kuid see komponent oleks mitte selle minimiliseeritusega kooskõlas olev.

    </p>