

<div class="text3">
 {{ products2 }} 
</div>
<br>

<hr class="style-five">



<div class="body">
<section>
<div class="text">
Koondindikaator, pildina 
<br>
<br>
<br>
<br>
</div>
<div class="vertical2a"></div>
<div class="text2">
  Ettevõte on keskmise elujõulisusega. Võrreldes teiste sarnaste ettevõtetega prognoosib rakendus kõrgemat maksevõimet ja finantsvõimendust, kuid madalamaid tasuvuse ja töökulude tootlikkuse näitajaid.  Seda asja nimetame HINNANGUKS (ehk siis hinnangu komponent), mis ettevõttele antakse...
</div>

<div class="vera-button">
<button>Vaata lähemalt</button>
</div>
</section>
</div>
<!--hr-->
<!--div class="vertical2"></div-->

<!--div class="verticalx"-->
<!--/div-->
<!--div class="vertical-row"></div-->

<hr class="style-five">
<br>

<div class="text4">
  Tekst, mis selgitab, mida ja kuidas peaks mõistma... ehk siis selgitus sellest, miks selline hinnang anti...  Seda asja nimetatakse SELGITUSEKS (ehk siis selgitav komponent), see, mis selgitab, miks on ettevõttele antud konkreetne hinnang...  Loogika siis järgimne: ANNAME HINNANGU --> SELGITAME HINNANGUT
</div>


<!--div class="vertical"></div-->

<!--div class="text2">
<p>Ettevõte on keskmise elujõulisusega. Võrreldes teiste sarnaste ettevõtetega prognoosib rakendus kõrgemat maksevõimet ja finantsvõimendust, kuid madalamaid tasuvuse ja töökulude tootlikkuse näitajaid.</p>
</div-->


<hr class="style-six">


<div class="container-1 no-float">
  <div class="text5">
  Allpool mudelite värvimuusika (muidex värvid peaks mingil määral õiged olema...)
  </div>
   
  <div class="box box-1">Efektiivsus</div>
  <div class="box box-2">Maksevõime</div>
  <div class="box box-3">Struktuur</div>
  <div class="box box-4">Tasuvus</div>
  <div class="box box-5">Töökulude tootlikkus</div>
</div>

<hr class="style-sixa">

<!--div class="vertical2"></div-->


<!--div class="vl"></div-->



<!--div class="division">
</div-->
