<p class="tekstike">
  Prognoos sinu ettevõtte kohta
  </p>
  <br>
  <yld3-component></yld3-component>
  <br><br>
  <br>
  <p class="tekstikev">
    Mida me sinu ettevõtte olukorrast teame
    
    </p>
   
    <p class="tekstike2">

      Saame öelda, et ettevõtte üldine elujõud on keskmisel tasemel. Elujõu koondindikaatori väärtus on 0.53. Koondindikaator on elujõulisuse näitaja vahemikus 0–1, kus 0 on minimaalne ja 1 maksimaalne. Ülaltoodud joonisel on näidatud ettevõtte elujõud komponentide kaupa kõigi viie kasutatud mudeli järgi. Jooniselt näeb, millised on ettevõtte probleemsed ja tugevad küljed.

      </p>