<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         
         
        <div class="tekstike">
         Soovitus ettevõttele masinõppe mudelite poolt
        </div>
        <br>
        <br>
        <div class="tekstike2"> 
          {{ soovitusTekst() }} {{ soovitusTekstm() }} {{ finantsvoimendusTekst() }} {{ tasuvusTekst() }} {{ toojoudTekst() }}
         
        <br><br>
       
        </div>
         
       </div>
       
     

      </div>
     
   </div>
   <div class="tekstjanupp">
     <!--div class="graafikuke"-->
       
     <!--graafmudelefekt></graafmudelefekt-->
     <!--graaf5></graaf5-->

     <!--/div-->

     <!--div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div-->  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>