<ngx-gauge style="color:white; font-size:100px;" 
        type="semi" 
        thick= {{thick}}
        size="300"  
        
        [value]= "value"
        [label]="label"
        [max]="max"
        [min]="min"
        [append]="gaugeAppendText"
        [duration]="gaugeDuration"
        [animate]="gaugeAnimate"
        [thresholds]="thresholdConfig"
        [markers]="markers"
        >

        <ngx-gauge-label>
                <div class="blink_me">ELUJÕUD</div>
        </ngx-gauge-label>
     
        
        
        
 </ngx-gauge>
 
 