<div class="frame">

  <div class="rida">
     <div class="group">
       <div class="joonisval">
         <div class="joonis">
             
           
           
          <div class="tekstike">
           Hinnang finantsvõimendusele elujõulisuse kaudu
          </div>
          <br>
          <br>
          <div class="tekstike2"> 
            
            {{ finantsvoimendusTekst() }}
            
          </div>
           
         </div>
         
       
  
        </div>
       
     </div>
     <div class="tekstjanupp">
       <!--div class="graafikuke"-->
         
       <graafmudelvoim></graafmudelvoim>
       <!--graaf5></graaf5-->
  
       <!--/div-->
  
       <!--div class="nupp">
        <button>
        Vaata täpsemat põhjendust
        </button>
        </div-->  <!--Teksti kohta on stiiliinfot 224-->
     </div>
   </div>    
  
  </div>