<ngx-gauge style="color:white; font-size:100px;" 
        type="full" 
        thick= {{thick}}
        size="200"  
        
        [value]="value"
        [label]="label"
        [max]="max"
        [min]="min"
        [append]="gaugeAppendText"
        [duration]="gaugeDuration"
        [animate]="gaugeAnimate"
        [thresholds]="thresholdConfig">

        <ngx-gauge-label>
                <div class="blink_me">ELUJÕUD</div>
        </ngx-gauge-label>
        
 </ngx-gauge>