<br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin"> 
      <span style="font-weight: 700">Maksevõime suhtarvud</span>
    </div>
  </div>
<br><br> 

<div class="tekstike2 textmargin"> 
<div class="rowmargin"> 
      
  Ettevõtte elujõulisuse seisukohalt on oluline võime katta oma kohustusi tähtaegselt. Maksevõime ehk likviidsuse ühe osana analüüsitakse võimet täita lühiajalisi kohustusi. Mida suurem on ettevõtte valmisolek ja võimekus täita lühiajalisi kohustusi, seda elujõulisem ta on. Lühiajalisi kohustusi saab katta likviidsete varade arvelt, seega vaadeldaksegi maksevõime analüüsis likviidset vara. Enamlevinud on kolm maksevõime suhtarvu, mida oleme ka käesolevas töös kasutanud: lühiajaliste kohustuste kattekordaja, maksevõime kordaja ja rahakordaja.
  
    
  
  
  </div>
</div>
<br><br>

  <div class="tekstike2 textmargin">
    <span style="font-weight: 700">Lühiajaliste kohustuste kattekordaja </span> (<em>current ratio; working capital ratio</em>) näitab, kui võimekas on ettevõte võlausaldajate lühiajaliste nõuete katmisel. Kuna näitaja leidmiseks jagatakse käibevara lühiajaliste kohustustega, siis mida suurem on näitaja arvuline väärtus, seda suurem on ettevõtte võime oma lühiajalisi kohustusi täita ja seega on suurema maksevõimega. Lühiajaliste kohustuste kattekordaja arvutatakse alljärgneva valemi abil:

  </div><br>
  
   <div class="eq-c">
    Lühiajaliste kohustuste kattekordaja =
     <div class="fraction">
     <span class="fup">Käibevara</span>
     <span class="bar">/</span>
     <span class="fdn">Lühiajalised kohustused</span>
     </div>
    </div> <br>
  <div class="tekstike2 textmargin"> 
  <div class="rowmargin">
    Käibevara ja lühiajaliste kohustuste suurus tehakse kindlaks bilansist aasta lõpu seisuga. Kordaja optimaalne suurus on 1,5–2, selles vahemikus loetakse ettevõtet maksevõimeliseks. Kui kordaja on suurem, siis on ka maksevõime suurem, kuid teiselt poolt tekib oht, et ettevõte ei kasuta oma käibevara efektiivselt. Kui aga kui lühiajalised kohustused ületavad käibevara suuruse ja näitaja väärtus on alla 1, võib ettevõttel esineda probleeme lühiajaliste kohustuste täitmisel. Tasub silmas pidada, et kui lühiajaliste kohustuste täitmisega on probleem, siis see ei pruugi tähendada püsivat maksejõuetust, sest kohustusi on endiselt võimalik täita pikema aja jooksul.
      
  
    </div>
</div>
<br><br>
<div class="tekstike2 textmargin"><span style="font-weight: 700">Maksevõimekordaja </span>(<em>quick ratio; acid-test ratio</em>) osutab sellele, kas ettevõte on praegu võimeline võlausaldajatele kõik lühiajalised kohustused tasuma. Arvesse võetakse raha, likviidseid väärtpabereid ja laekumata arveid (ehk siis likviidsed väärtpaberid ja laekumata arved võrdsustatakse rahaga, millega on võimalik kohustusi katta). Laekumata arvete juures tuleb silmas pidada, et klient võib pikaks ajaks võlgu jääda, mis tähendab, et plaanitud kuupäeval vajalikku summat rahavoogu tegelikult ei tule. Maksevõime kordaja arvutatakse alljärgneva valemi abil:
  
</div><br>
<div class="eq-c">
  Maksevõime kordaja =
   <div class="fraction">
   <span class="fup">Raha+Likviidsed väärtpaberid+Laekumata arved</span>
   <span class="bar">/</span>
   <span class="fdn">Lühiajalised kohustused</span>
   </div>
</div><br>
<div class="tekstike2 textmargin"> 
<div class="rowmargin">
  Selleks, et kõik lühiajalised võlgnevused oleks võimalik vajadusel kohe tasuda, peab näitaja väärtus olema suurem kui 1. Kui jätta kõrvale klientide võimalikud võlgnevused, peab seda suhtarvu tõlgendades siiski arvestama ka arvete maksetähtaegadega, mis võivad olla kaugemas tulevikus kui kohustus lühiajalisi võlgnevusi tasuda ja nii võib see kordaja anda pisut ilustatud informatsiooni. Sisend suhtarvu leidmiseks saadakse vastavatest bilansikirjetest.

</div>
</div>
<br><br>
<div class="tekstike2 textmargin"><span style="font-weight: 700">Rahakordaja </span>(<em>cash ratio</em>) osutab sellele, kas ettevõte on võimeline tasuma kohe saabuva tähtajaga kohustusi. Võrreldes maksevõime kordajaga on siin arvestusest välja jäetud laekumata arved, ehk siis arvesse ei lähe klientide käes olev raha (seega jääb kõrvale risk, et klient ei maksa õigeaegselt, maksetähtaeg on liiga kauges tulevikus vms), kuna nõudeõigust kliendi vastu ei saa kasutada oma kohustuste tasumiseks. Rahakordaja arvutatakse alljärgneva valemi abil:
  
 
</div><br>
<div class="eq-c">
  Rahakordaja =
   <div class="fraction">
   <span class="fup">Raha+Likviidsed väärtpaberid</span>
   <span class="bar">/</span>
   <span class="fdn">Lühiajalised kohustused</span>
   </div>
</div><br>
  <div class="tekstike2 textmargin"> 
    <div class="rowmargin">
      Selleks, et kohustusi oleks võimalik kohe katta, peab näitaja väärtus olema suurem kui 1. Tähelepanu tuleb pöörata ka sellele, millised on likviidsed väärtpaberid. Börsil noteeritud väärtpaberite turustamisel on väärtuspäevad, st raha laekub (või on kontolt välja kantav) teatud arvu päevade pärast, lisaks ei ole kõik päevad börsil kauplemispäevad. Samuti tuleb märkida, et börsiväliste väärtpaberite juures tähendab likviidsus, et tuleb leida ka reaalne ostja, teha tehing ja saada raha kätte.
  </div>
</div>
<br><br>