<br>
<br>
<p class="tekstikev">
  Mis on võrdlus teiste ettevõtetega
  </p>
  <br>
  <p class="tekstike2">
    Teiste ettevõtetega võrdlemisel on paar asja:
    <br>1. Võrreldakse ikkagi hetkeolukorda, ei tehta tulevikuprognoose ja siis ei hakata võrldema tulevikku. Ei ole nii, et kaubamaja prognoosib oma turu suurust aastaks 2025 10%, coop 23% ja server 21% ja siis võrreldakse neid, et kes on turul millise võimsusega aastal 2025;   
    <br>2. Võetakse ikka tänased turuosad ja neid võrreldakse omavahel (või siis nii värsked, kui võimalik).
    <br>3. Tehakse ka tulevikuvisioone, et a la "meie ettevõte plaanib olla 10 aasta pärast turuliider, investeerige kõik meisse, meie oleme parimad!!! jne.", kuid see ei ole analüüs, vähemalt mitte valdavatel juhtudel, sellised tulevikuvõrdlused on ikka väga harvad;
    <br>4. Kui me võrdleme, siis ikka sellega, mis täna on turul, ei tea, kas mõni ettevõtja mõistaks, kui me ütleme, et aastal 2025 on sinust paremaid 24%, sinu turuosa on 12% jne., see oleks selgeltnägemine;
    <br>5. Kogu mõte on selles, et võrdlus peaks minu arusaama kohaselt olema hetkeolukorra, mitte prognoosi all.
  </p>