<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         
         
        <div class="tekstike">
         Hinnang maksevõimele elujõulisuse kaudu
        </div>
        <br>
        <br>
        <div class="tekstike2"> 
        {{ maksevoimeTekst()}}
        </div>
         
       </div>
       
     

      </div>
     
   </div>
   <div class="tekstjanupp">
     <!--div class="graafikuke"-->
       
      <graafmudelmaks></graafmudelmaks>
     <!--graaf6></graaf6-->

     <!--/div-->

     <!--div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div-->  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>