<!--app-top-bar></app-top-bar-->

<!--div class="container">
  <router-outlet></router-outlet>
</div-->


<body>

<div class="bodyz">

<br> 
<br>

  <!--a routerLink="alaleht1">Üldinfo</a>
  <a routerLink="alaleht2">Prognoos</a>
  <a routerLink="alaleht3">Hetkeolukord</a-->

  <div class="container">
    <!--router-outlet></router-outlet-->
  </div>

<!--app-tab></app-tab-->
<br>
<br>
<lib-elujou-lib></lib-elujou-lib>

<!--div class="bodyx">
<koondind-component></koondind-component>
<koondind2-component></koondind2-component>
<koondind3-component></koondind3-component>
<koondind4-component></koondind4-component>
<koondind5-component></koondind5-component>
<koondind6-component></koondind6-component>
<koondind7-component></koondind7-component>
</div-->

<!--elujoud-component></elujoud-component-->
<!--koondind-component></koondind-component-->

</div>

</body>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->