<br>
<div class="tekstike2 textmargin"> 
<div class="rowmargin2">
Lähtuvalt majandusteooriast ja suhtarvude analüüsist annab kratt ettevõttele tavapäraseid tegevussuuna soovitusi vastavalt hinnangule igas elujõulisuse tüübis. Kuna rakendusel pole piisavalt detailset teavet iga ettevõtte kohta, siis ei saa see anda konkreetset nõu, vaid pigem suunata ettevõtet edasist olukorda analüüsima. Krati soovitusi ilma nende sisu ja asjakohasust analüüsimata ellu viia ei ole õige. Edasiste tegevusplaanide tegemisse on soovitav kaasata ekspert või eriteadmistega konsultant. 
</div>
</div>
<br>