<br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin"> 
      <span style="font-weight: 700">Efektiivsuse suhtarvud</span>
    </div>
  </div>
<br><br> 
<div class="tekstike2 textmargin"> 
<div class="rowmargin">
  Mida efektiivsemalt ettevõtte vara kasutatakse, seda suurem on ettevõtte elujõulisus. Vara ostetakse teatud summa eest ja see summa (investeeritud raha) peab ennast tagasi teenima. Mida tõhusamalt raha ennast tagasi teenib, seda paremini ettevõttel läheb. Selle väljaselgitamisel on abiks efektiivsuse suhtarvud. Enamlevinud on kolm efektiivsuse suhtarvu, mida ongi selles töös kasutatud: vara käibesagedus, lühiajalise võlgnevuse käibekordaja ja varude käibekordaja.
  </div>
 </div>
 <br><br>
 <div class="tekstike2 textmargin"> 
<div><span style="font-weight: 700">Varade käibesagedus </span> (<em>asset turnover</em>), mida nimetatakse ka koguvara käibeks, annab märku sellest, kui efektiivselt kasutab ettevõte oma koguvara. Kordaja arvutamiseks jagatakse varade abil saadud müügitulu aasta keskmise varade maksumusega ning mida suurem on tulemuse arvuline väärtus, seda efektiivsemalt tõenäoliselt varasid kasutatakse. Varade käibesagedus arvutatakse alljärgneva valemi abil:
  </div>
 </div> <br>
 <div class="eq-c">
  Varade käibesagedus =
   <div class="fraction">
   <span class="fup">Müügitulu</span>
   <span class="bar">/</span>
   <span class="fdn">Keskmine vara</span>
   </div>
</div><br>

  <div class="tekstike2 textmargin"> 
    <div class="rowmargin">
      Müügitulu summa saadakse kasumiaruandest aasta lõpu seisuga ja keskmine varad bilansist aasta alguse ja lõpu keskmisena. Suurem varade käibesagedus on ka suurema elujõulisuse näitaja, sest sellest võib järeldada, et raha on paigutatud paremini töötavatesse vahenditesse (raha teenib ennast tõhusamalt tagasi).
    </div>
  </div>
  <br><br>
  <div class="tekstike2 textmargin"> 
    <div> <span style="font-weight: 700">Lühiajalise võlgnevuse käibekordaja</span> (<em>receivables turnover</em>), mida nimetatakse ka debitoorse võlgnevuse käibekordajaks, näitab, mitu korda ületab ettevõtte müügitulu keskmist debitoorset võlgnevust (mis peamiselt koosneb ostjate laekumata arvetest). Teisiti öeldes peegeldab see seda, kui palju käiberaha on võlgnike käes. Samuti näitab see suhtarv, mitu korda tasutakse vaadeldava ajavahemiku jooksul keskmine debitoorne võlgnevus. Lühiajalise võlgnevuse käibekordaja arvutatakse alljärgneva valemi abil:
      
    </div>
  </div><br>
  <div class="eq-c">
    Lühiajalise võlgnevuse käibekordaja =
     <div class="fraction">
     <span class="fup">Müügitulu</span>
     <span class="bar">/</span>
     <span class="fdn">Keskmine debitoorne võlgnevus</span>
     </div>
  </div> <br>
  <div class="tekstike2 textmargin"> 
  <div class="rowmargin">
    Müügitulu summa saadakse kasumiaruandest aasta lõpu seisuga ja keskmine debitoorne võlgnevus bilansist aasta alguse ja lõpu keskmisena. Elujõulisuse seisukohalt annab kordaja aimu sellest, kui suur osa ettevõtte rahast on klientide käes. Mida suurem see osa on, seda suurem on pinge käibekapitalile; muude tingimuste samaks jäädes mõjub kättesaamata raha elujõulisusele negatiivselt.
  </div>
  </div>
  <br><br>
  <div class="tekstike2 textmargin"> 
    <div> <span style="font-weight: 700">Varude käibesagedus </span> (<em>inventory turnover ratio</em>), mida nimetatakse ka varude käibekordajaks, annab märku sellest, kui efektiivselt kasutatakse kauba- või materjalivarusid. Mida aeglasemalt varud käibivad, seda ebaefektiivsem on varude kasutus. Varude käibesagedus arvutatakse alljärgneva valemi abil:
     
    </div>
  </div><br>
  <div class="eq-c">
    Varude käibesagedus =
     <div class="fraction">
     <span class="fup">Müügitulu</span>
     <span class="bar">/</span>
     <span class="fdn">Keskmised varud</span>
     </div>
  </div>

  <br>
  <div class="tekstike2 textmargin"> 
  <div class="rowmargin">
    Müügitulu summa saadakse kasumiaruandest aasta lõpu seisuga ja keskmised varud bilansist aasta alguse ja lõpu keskmisena. Elujõulisuse seisukohalt annab näitaja aimu, kui palju raha on varude all ehk laos kinni. Mida suurem see osa on, seda vähem saab raha kasutada äritegevuseks (ehk samade käibevahendite juures vajatakse rohkem raha) ning seda väiksem on muude tingimuste samaks jäädes ettevõtte elujõulisus.
  
  </div>
  </div>


  <br>