<br>
<div class="tekstike2 textmargin"> 
<div class="rowmargin2">
  Kratt prognoosib ettevõttele kahe eelneva aasta andmete põhjal kolmanda aasta elujõulisust. Kui olemasolevad andmed on aasta n kohta ja n-1 aasta kohta, siis kratt prognoosib aasta n+1 kohta. Kuiste andmete puhul võetakse aluseks viimase teadaoleva 12 kuu andmed (m kuni m-11) ning elujõulisust prognoositakse sellele perioodile järgneva kolme kuu (m+1, m+2 ja m+3) kohta. Selleks kasutatakse kõigi ettevõtete eelmistel aastatel esitatud majandusaasta aruannete ja maksudeklaratsioonide andmeid.
</div>
</div>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin2">
    Rakendus eristab viit tüüpi elujõulisust: maksevõime, efektiivsus, finantsvõimendus, tasuvus ja tööjõukulude tootlikkus. Igat tüüpi elujõulisust hinnatakse finantssuhtarve kasutades ning analüüsitakse ettevõtte positsiooni tegevussektoris. Sektori ettevõtted järjestatakse finantssuhtarvude järgi. Neid ettevõtteid, kes kuulusid kolmandal aastal oma kitsamas sektoris suhtarvu järgi alumisse kvartiili (alumine neljandik), peetakse selles elujõulisuse aspektis vähe elujõuliseks. Ülemisse kvartiili kuulumine tähendab vastavalt suurt elujõulisust. Elujõulisuse prognoosimise tehisnärvivõrkude väljundiks on kolm tõenäosust: väikese, keskpärase ning suure elujõulisuse tõenäosused, mille summa on 1. Kasutajale kuvatakse lähtuvalt eri elujõulisuse mudelite väljunditest visuaalseid elujõulisuse indikaatoreid (roheline, kollane, punane) ning sõnalisi hinnanguid.
  </div>
  </div>
  <div class="tekstike2 textmargin"> 
    <div class="rowmargin2">
      Kratt annab igale ettevõttele hinnangu selle kohta, kui tõenäoline on mineviku andmete põhjal see, et järgmisel aastal ettevõtte elujõud on suur, keskpärane või väike. Enamasti hindab rakendus kõigi kolme tulevikuperspektiivi realiseerumist mingil määral tõenäoliseks. Kõige kõrgema tõenäosusprotsendiga tulemust esitataksegi kõige tõenäolisemana.
    </div>
    </div>
  <div class="tekstike2 textmargin"> 
    <div class="rowmargin2">
      Treenitud masinõppemudel (kratt) prognoosib hinnangud viie suhtarvude grupi koondindeksite (skooride) kohta (1. maksevõime suhtarvud, 2. efektiivsuse suhtarvud, 3. finantsvõimenduse suhtarvud, 4. tasuvuse suhtarvud ja 5. tööjõukulude tootlikkus). Hinnang näitab prognoosi võrreldes suhtarvude koondindeksi paiknemisega teiste sarnaste ettevõtete (sama klaster, sama sektor) seas. Arvutuste aluseks on esitatud majandusaasta aruanded ja igakuised maksudeklaratsioonid (KMD, TSD).
    </div>
  </div>

<br>