p {
  font-family: Lato;
}

.accordion {
    background-color:#f2f3f3;
    color: #4f4f4f;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    height: 60px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #dbdfe2;/* #e5e7e7;*/ 
}

.panel { //Avatav aken
    padding: 10px;
    padding-left: 40px;
    display: none;
    background-color: #ffffff;
    overflow: hidden;

    border-color: #5d6071; /*#8f91a8;*/
    border: solid 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}



.visible {
  display: block;
}

.tekstike {
  position: relative;
  width: 1034px;
  padding-top: 10px;
  padding-left: 40px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #4f4f4f; /* #09090b;*/
  font-size: 32px;
  letter-spacing: 0;
  line-height: 24px;
}

.tekstikev {
  position: relative;
  width: 1034px;
  /*height: 24px;*/
  padding-top: 1px;
  padding-left: 40px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #4f4f4f; /* #09090b;*/
  font-size: 25px;
  letter-spacing: 0;
  line-height: 24px;
 
  
}  

.tekstike2a {
  position: relative;
  width: 1034px;
  padding-top: 1px;
  padding-left: 40px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  
}  

.tekstike2 {
  position: relative;
  width: 1034px;
  padding-top: 1px;
  
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  
}  

.raamYmber {
  width: 100%;
  margin-top: 3px;
  border-color: #5d6071; /*#8f91a8;*/
  border: solid 2px;
  background-color: #ffffff;
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}