<!--form [formGroup]="myForm"-->

<p class="tekstike">
Ettevõtte elujõulisuse indeks
</p> 

<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="yks" checked>
  <label for="tab1">Üldinfo</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="kaks">
  <label for="tab2">Hetkeolukord</label>

  <input type="radio" name="tabset" id="tab3" aria-controls="kolm">
  <label for="tab3">Prognoos</label>

  <input type="radio" name="tabset" id="tab4" aria-controls="neli">
  <label for="tab4">Kuidas tulemusi mõista?</label>

  <input type="radio" name="tabset" id="tab5" aria-controls="viis">
  <label for="tab5">Kaasa konsultant</label>

  <input type="radio" name="tabset" id="tab6" aria-controls="kuus">
  <label for="tab6">Testimisinfo</label>

  <div class="tab-panels">
    <section id="yks" class="tab-panel">
      <div class="raamI2">
        <yld1-component></yld1-component>
        <br>
        <br>
        <br>
        <yld2-component></yld2-component>
        <br>
        <yld3-component></yld3-component>
        <!--p>Esimene</p-->
        <!--koondind7-component></koondind7-component-->
        <!--input type ="text" placeholder="Enter Amount" formControlName="buyInAmount" /-->
        <yld4-component></yld4-component>
        <!--yld5-component></yld5-component-->

        <br><br>
        <!--graaf4></graaf4-->
         
        <br>
        <graaf10></graaf10>
        

        <yld6-component></yld6-component>
        <!--graaf1></graaf1-->
        <!--graaf2></graaf2-->
        <!--graaf3></graaf3-->
      </div>
    </section>
    <section id="kaks" class="tab-panel">
      <!--div class= "raam raamh1">
       
        <hetk1-component></hetk1-component>
        
      </div-->
      <!--div class="raamI2"-->
      <div class= "raam raamh1a">
      <hetkava-component></hetkava-component>
      </div>
      <br><br>
       
      <!--ilukiri-component></ilukiri-component-->

      <varav5></varav5>
      
      <br><br>
      

      <varav6></varav6>

      <br><br>

      <varav7></varav7>

      <br><br>

      <varav8></varav8>

      <!--div class="raam"-->
      <!--div class= "raam raam2c">
        <hetk3-component></hetk3-component>
      </div-->
      <!--/div-->
      
      
      <!--br><br><br>
      <br>
      <div class= "raam raam2d">
        <hetk4-component></hetk4-component>
      </div-->
    
      <!--br><br><br>
      <br>
      <div class= "raam raam2d">
        <hetk5-component></hetk5-component>
      </div-->

      <!--br><br><br>
      <br>
      <div class= "raam raam2d">
        <hetk6-component></hetk6-component>
      </div-->
    
      <!--graaf8></graaf8-->

      <!--br><br><br>
      <br-->
      <!--div class="raam"-->
      <!--div class= "raam raam2c">
        <hetk7-component></hetk7-component>
      </div-->
      <!--infoaken-component></infoaken-component-->
     <!--graaf9></graaf9-->
    </section>
    <section id="kolm" class="tab-panel">
      <div class="raam raamh1">
      
      <hetk1-component></hetk1-component>
      
        <!--progn1-component></progn1-component-->
        <!--yld3-component></yld3-component-->
        <!--progn2-component></progn2-component-->
        <!--p>Kolmas</p-->
        <!--koondind7-component></koondind7-component-->
        <!--input type ="text" placeholder="Types In Grams" formControlName="buyInGrams" /-->
      </div>

      <br><br>
          
      <varav3></varav3>
      
      <br><br>
      
      <varav9></varav9>
      
      <br>

      <br><br><br>
      <br>
      <!--div class= "raam raam2d">
        <progn3-component></progn3-component>
      </div>

      <br><br><br>
      <br>
      <div class= "raam raam2d">
        <progn4-component></progn4-component>
      </div-->

    </section>
    <section id="neli" class="tab-panel">
      <div class="raam raamMoist">
        <hetk3-component></hetk3-component>
      </div>
      <br><br>

      <varav4a></varav4a>

      <br><br><br><br><br>
      <!--metraport-component></metraport-component-->
      <div class="raamI2">
      <mettext-component></mettext-component>
      <br><br>
      <metlouad-component></metlouad-component>
      <!--metraport2-component></metraport2-component-->
      </div>
    </section>

    <section id="viis" class="tab-panel">
      <div class="raam raamKons1">

        <konsultantava-component></konsultantava-component>
        <!--p>Kaasa nüüd konsultant siitkaudu...</p-->
        <!--img src="https://interstat.info/Elujoud/Disain/Florish/florish.html"-->

      </div>

      <br><br><br><br>

      <div class="raamxxx">
        <konsultantinfo-component></konsultantinfo-component>
      <br><br>
      </div>

      <br><br>

      <!--div class="raamxxx"-->
        <varav10></varav10>
      <br><br>
      <!--/div-->

      <br><br><br>

      <div class="raamxxx">
        <konsultant-component></konsultant-component>
      <br><br>
      </div>

      

    </section>

    <section id="kuus" class="tab-panel">
      <div class="raam raamXtee">
        <!--p>Mõtlemise koht...</p-->
        <!--metraport2-component></metraport2-component--> 
        <xroadimit-component></xroadimit-component>
        <br><br>

        <!--flrsh></flrsh-->

        <!--varav1></varav1-->
        <!--varav2></varav2-->

        <!--lib-elujou-lib></lib-elujou-lib-->
        <!--elujoutest-component></elujoutest-component-->
<!--lib2-elujou-lib2></lib2-elujou-lib2-->
<!--parent></parent-->

      </div>
    </section>

  </div>

</div>
<!--/form-->